<html>
    <head>
        <title>Word Seperator!!</title>
    </head>
<body>

<h1>Type in words without spaces</h1>

<form action="/hello/" method="POST">
    Words without spaces: <input type="text" name="greeting">
    <br/>
    <!-- Your Name: <input type="text" name="name">
    <br/> -->
    <input type="submit">
</form>

</body>
</html>