<h1>String Segmenter</h1>

<p>Available words: <br> <%= @current_dictionary %></p>

<form action="">
<textarea name="user_input" cols="50" rows="5">
Enter your run-on sentence here. 
itshouldlooklikethis
</textarea>
<br />
<input type="submit" />
</form>



<p><%= @segment_input.testing %></p>
<p><%= @segment_input.final_words %></p>
