<h1>String Segmenter</h1>

<!-- Returns String containing the words a user can utilize in user_input form. -->
<p>Available words: <br> <%= @available_dictionary %></p>

<!-- form that posts to /user_input_string. -->
<form method= "POST" action="/user_input_string">
<textarea name="user_input" cols="50" rows="3">
Enter your run-on sentence here. "itshouldlooklikethis"
</textarea>
<br />
<input type="submit" />
</form>

