<h1>String Segmenter</h1>

<p>Available words: <br> <%= @user_segmentation.available_words %></p>

<form method= "POST" action="/user_input_string">
<textarea name="user_input" cols="50" rows="5">
Enter your run-on sentence here. 
itshouldlooklikethis
</textarea>
<br />
<input type="submit" />
</form>

