<center><h1>WELCOME TO THE ONE AND ONLY STRING SEGMENTOR!</h1></center>

<!--ruby code must be in erb tags in erb files-->


<img src="http://web.inter.nl.net/users/stepcla/games/string_figures/afneem_05.gif">
<center><h2>I NEED A LIST OF WORDS TO DO MY JOB. CAN YOU HELP?</h2></center>
<center>I'm <i><strong>ASTROPHOBIC</strong></i> so please, NO SPACES.</center> 

<center>
<form action="/form" method="post">
<input type="text" name="message">
<input type="submit">
</form>
</center>

<br>
</br>

<center><font size="7"><%= @y.upcase %></font></center>