<center><h1>WELCOME TO THE ONE AND ONLY STRING SEGMENTOR!</h1></center>

<!--ruby code must be in erb tags in erb files-->

<!DOCTYPE html>
<html>
<head>
</head>
<body> 
<img src="http://web.inter.nl.net/users/stepcla/games/string_figures/afneem_05.gif">
<form> 
<center><h2>I NEED A LIST OF WORDS TO DO MY JOB. CAN YOU HELP?</h2></center>
<center>I'm <i><strong>ASTROPHOBIC</strong></i> so please, NO SPACES.</center>  
<center><input type="text" name=" "></center>
<br>
</form>
</body>
</html>

<center><font size="7"><%= params[1].upcase %></font></center>