<!-- require 'string_segmenter'
 -->
<p> Your string was <%= params[:string] %> </p>

<%= @string = SplitUpStringIntoWords.new %>

 <p> Your string returns <%= @string.segment_string(params[:string]).join(' ') %> </p>