<!-- require 'string_segmenter'
 -->
<p> Your string was <%=params[:string]%></p>

<p><%=params[:string] = SplitUpStringIntoWords.new%></p>

 <p>Your string returns <%=params[:string].segment_string(:string).join(' ')%></p>