

<h1>Personal Magic Spell Generator</h1>

<p>Every person has a brief incantation that is their magic spell. Most people don't know theirs. Here's how to find yours.</p>

<p>When Parents Say "Use Your Words" This is What They Mean</p>

<p>All personal spells are comprised of combinations of the following 28 words. 

To learn your spell, take the first three words that attract you from the list below. You don't really have to choose the words. Let them choose you. It's kind of intuitive.</p> 

<p>If you have done this correctly, you have come to the tricky part:

Look up at the line of your web browser that has "/string_segmenter/" in it. Delete everything to the right of "string_segmenter/" (keep the slash there) and type in your three words, without spaces or punctuation. 

For example, if you picked "train," "bears" and "tigershark," you would type in "trainbearstigershark" and wait briefly for results.</p>  

<p>"turtle", "turtles", "blues", "blue", "train", "trains", "training", "trust", "trusts", "trusting", "elephant", "elephants", "waffle", "waffles", "waffling", "puzzling", "puzzles", "puzzle", "lion", "lions", "tiger", "shark", "sharks", "tigers", "bear", "bears", "tigershark", "tigersharks"</p>


<p> Your spell is "<%= @display_text %>"</p> 

<p>Practice saying it as distinct words, or as one word. Whisper it, shout it, mumble it under the din of a large crowd. 

Then one day, when you are ready, try to find out what your spell does. Good luck.</p> 


<a href="/" >main</a>
