<center><strong>Try the wondrous and enigmatic String Segmenter</strong></center>

<form action="/segment" method="get">
Write your spaceless sentence here, please:
<br />
<input type="text" name="string_to_segment">
<br />
<input type="submit" value="Segment!">
</form>