<h1>Welcome!</h1>

<form action="/main/segmenter" method="post">
    Type three words below without spaces! Prepare to see some programming magic! <input type="text" name="jumbled_string">
    <br/>
    <input type="submit">
</form>