<center><h1>Welcome!</h1></center>
<br />
<center><strong>Try the wonderous and enigmatic String Segmenter</strong></center>

<center><h1><%= @test.run_string_segmenter(params[:string]) %></h1></center>