<center><h1>Welcome to the word machine!</h1></center>



<center>
<form action="../controllers/string_segmenter" method="post">
    <body background=http://fullhdpictures.com/wp-content/uploads/2015/12/Strings-Wallpapers.jpg>
    <br/>
    <h2> Type in three words, with no spaces between them, and this will seperate them!</h2><input type="text" name="random_string">
    <br/>
    <input type="submit">
</form>
</center>

<br/>
<center><h1><%= @y %></h1></center>
<!-- <a href="/string_segmenter">Segmenter</a> -->
