<h1>Welcome!</h1>


<p><%= @wss.segment_string("onetwothree")%></p>

<p>What Maverick says: "<%= @dog.speak %>"</p>
<p>What Dutch says: "<%= @dog.celebrate %>"</p>

<h2>Something, Something, Something, Dark Side.</h2>
