
<h1>Welcome to Beth's magic word wizard!</h1>
<!-- <p><img src="/images/wizard_cat.jpg" width="500" alt="This is a picture of a wizard cat."></p> -->

<!--        The input should be assigned to :string so my controller knows where to go. -->


<form action="/words" method="get">
  <p>Please enter a string of words with no spaces in between.</p>
  <input type="text" name="string" placeholder="turtlebluecat"><input type="submit">
</form>

