<center><h1>Welcome to the magical... word... seperator... thing!</h1></center>

<center><img src=http://www.thetimes.co.uk/tto/multimedia/archive/00729/33816122-0537-11e4-_729135c.jpg><center>

<center><form action="/main/segmenter" method="post"><
    <h2>I'm going to show you some programming magic.<h2>
    <br/>
    <h2> Type in three words (but leave out any spaces!) and the computer will magically seperate them!</h2><input type="text" name="jumbled_string">
    <br/>
    <input type="submit">
</form></center>